@import url(https://fonts.googleapis.com/css?family=Inter);

:root {
    color-scheme: light dark;

    --blue-100: #E4E4F5;
    --blue-200: #8282C2;
    --blue-300: #43438F;
    --blue-400: #19195C;
    --blue-500: #040433;

    --gray-100: #FCFCFC;
    --gray-200: #dfdfdf;
    --gray-300: #ABABAB;
    --gray-400: #7D7D7D;
    --gray-500: #333333;
    --gray-600: #141414;
    --gray-700: #070707;
    --gray-800: #020202;

    --font-familiy: Inter;
}

html {
    width: 100vw;
    height: 100vh;
    font-family: var(--font-familiy);
    background-color: light-dark(var(--gray-100), var(--gray-700));
}

body {
    margin: 0;
    padding: 0rem;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: auto;
    grid-template-rows: 3rem auto auto;
}

header {
    position: sticky;
    top: 0;
    padding: 0 0 0 .5rem;
    display: grid;
    grid-template-columns: auto auto; 
    justify-content: space-between;
    align-items: center;
    column-span: all;
    color: light-dark(var(--gray-100), var(--gray-100));
    background-color: light-dark(var(--blue-200), var(--blue-300));
}

.navbar {
    height: 100%;
    display: flex;
    place-items: center;
    place-content: center;
}

.navbar ul {
    height: 100%;
    min-width: 75px;
    padding: 0;
    margin: 0;
    display: inline-grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    list-style-type: none;
}

.nav-opt {
    display: grid;
    height: 100%;
    padding: 0 0.5rem;
}

.nav-opt a {
    color: light-dark(var(--gray-100), var(--gray-100));
    font-size: 0.85rem;
    text-decoration: none;

    display: grid;
    place-items: center;
    place-content: center;
}

.nav-opt:hover, #selected-tab {
    background-color: light-dark(var(--gray-100), var(--gray-100));
    transition: 200ms;
}

.nav-opt:hover a, #selected-tab a {
    color: light-dark(var(--blue-500), var(--blue-300));
    font-weight: 500;
    transition: 200ms;
}

main {
    padding: 0 10vw;
    display: grid;
}

section h1 {
    font-size: 1.5rem;
    color: light-dark(var(--gray-600), var(--gray-100));
}

section p, section ul {
    font-size: .9rem;
}

section ul {
    list-style-type: none;
}

#formacao .wrapper {
    display: grid;
    column-gap: 0.2em;
    grid-template-columns: 1fr 1fr;
}

#formacao .courses {
    display: grid;
    row-gap: 0.3em;
}

#formacao .courses div {
    background-color: light-dark(var(--gray-200), var(--gray-600));
    padding: 1em;

    display: grid;
    column-count: 2;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto auto;
    border-radius: .2em;
}

#formacao .courses div .grade {
    font-weight: 600;
}

#formacao .courses div .ongoing {
    background-color: light-dark(var(--gray-300), var(--gray-200));
    color: light-dark(var(--gray-100), var(--gray-500));
    border-radius: 1em;
    padding: 0.2em 1em;
    font-size: 0.9em;
    display: grid;
    font-style: italic;
    place-content: center;
}

#formacao .languages {
    display: block;
    padding: 1em 1em;
    background-color: light-dark(var(--gray-200), var(--gray-600));
    border-radius: .2em;
}

#formacao .languages h2 {
    margin: 0;
    font-size: 1.2em;
}

#formacao .languages ul {
    width: 100%;
    padding: 1rem 0;
    margin: 0;
    display: grid;
    row-gap: 0.5em;
}

#formacao .languages li {
    margin: 0 0.5em;
    display: inline-grid;
    grid-auto-flow: column;
    justify-content: space-between;
}

#formacao .languages li .language {
    display: grid;
    place-content: center;
    place-items: center;
}

#formacao .languages li .mastery {
    background-color: light-dark(var(--blue-200), var(--blue-300));
    color: light-dark(var(--gray-100), var(--blue-100));
    border-radius: 1em;
    padding: 0.4em 1em;
}

.project-card {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: light-dark(var(--gray-200), var(--gray-600));
    border-radius: 0.2em;
}

.project-card a {
    display: grid;
    width: fit-content;
    padding: 0.1em 0.3em;
    font-size: .9em;
    border-radius: 1em;
    place-content: center;
    background-color: var(--gray-100);
}

.project-card a img {
    height: 1.2em;
}

footer {
    margin-top: 1rem;
    padding: 0 10vw;
    padding-bottom: 2rem;
    background-color: light-dark(var(--gray-300), var(--gray-600));
}

section form {
    display: grid;
}

form input {
    margin-bottom: 1em;
}

#message-input {
    min-height: 10rem;
}
